* {
  border: 1px solid red;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html, body, #root {
  height: 100%;
}

.home {
  display: flex;
  height: 100%;

  &__col {
    width: calc(100% / 3);

    &--left {
      background-image: url("assets/img_2.png");
      justify-content: center;
      align-items: center;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
    }
    &--right {
      background-image: url("assets/img_1.png");
      justify-content: center;
      align-items: center;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
    }
    &--middle {
      background-image: url("assets/img.png");
      justify-content: center;
      align-items: center;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
    }
  }
}
.home__col--middle {
  display: flex;
  justify-content: center;
  align-items: center;
}


.infoPage {
  height: 100%;
  display: flex;

  &__content {
    width: 60%;
    background: lightslategrey;
    color: white;
    position: relative;
  }

  &__logo {
    position: absolute;
    top: 10px;
    left: 10px;
  }

  &__text {
    padding: 50px 20px 20px 20px;
  }

  &__navigation {
    width: 40%;
    height: 100%;

    background: url("assets/img_1.png") no-repeat,
    rgba(0,0,0, 0.4);
    background-size: cover;

    display: flex;
    align-items: center;
  }

  &__list {
    list-style: none;
    padding: 20px;
  }

  &__list-item {
    margin-bottom: 20px;
    font-size: 25px;
    a {
      color: green;
      text-decoration: none;
    }

  }
}
$primary-color: #FFDEAD;
$secondary-color: #6c757d;

h1 {
  color: $primary-color;
}

form {
  max-width: 400px;
  margin: 0 auto;
}

label {
  display: block;
  margin-bottom: 5px;
  color: $secondary-color;
}

input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 10px;
}

input[type="submit"] {
  background-color: $primary-color;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: darken($primary-color, 10%);
}

