@import 'scss/home';
@import 'scss/contact';

* {
  //border: 1px solid red;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html, body, #root {
  height: 100%;
}




.infoPage {
  height: 100%;
  display: flex;

  &__content {
    width: 60%;
    background: lightslategrey;
    color: white;
    position: relative;
  }

  &__logo {
    position: absolute;
    top: 10px;
    left: 10px;
  }

  &__text {
    padding: 50px 20px 20px 20px;
    position: relative;
    z-index: 2;
  }

  &__navigation {
    width: 40%;
    height: 100%;

    //background: url("assets/img_1.png") no-repeat,
    //rgba(0,0,0, 0.4);
    //background-size: cover;
    background: #011031;

    display: flex;
    align-items: center;
  }

  &__list {
    list-style: none;
    padding: 40px;

  }

  &__list-item {
    margin-bottom: 20px;
    font-size: 25px;

    a {
      color: #eee;
      text-decoration: none;
    }

  }
}


.link-menu {
  margin: 15px;
  display: block;
  position: relative;
  z-index: 5;
}


.officePage {
  background: url('assets/img.png');
  position: relative;

  &::before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 0;
    background: rgba(0,0,0,0.5);
  }
}